h1 {
  text-align: center;
  color: black;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: black;
  font-family: sans-serif;
  opacity: 0.3;
}

.square {
  float: left;
  width: 25%;
  height: 975px;
  /* This will make the squares line up next to each other. */

}

#pink {
  background-color: #ffb6c1;
}

#turquoise {
  background-color: #20b2aa;

}

#chartreuse {
  background-color: #f0e68c;
}

#grey {
  background-color: #d3d3d3;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}
