h1 {
  text-align: center;
  color: black;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: black;
  font-family: sans-serif;
  opacity: 0.3;
}

.square {
  float: left;
  width: 25%;
  height: 975px;
  /* This will make the squares line up next to each other. */

}

#rose {
  background-color: #FF377B;
}

#turquoise {
  background-color: #a1120d;

}

#chartreuse {
  background-color: #de9910;
}

#grey {
  background-color: #faf5a0;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}
